<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/Assets/css/my-login.css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- alertas 2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.min.css">
		<!-- alimacion de alerta 2  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="text-center">
                        <img src="/Assets/img/logoI.png" alt="logo">
                    </div>
                    <form id="FormRegistro">
                        <div class="card fat">
                            <div class="card-body">
                                <h1 class="card-title text-center text-secondary">Registrarse</h1>
                                <form method="POST" class="my-login-validation" novalidate="">
                                    <div class="form-group">
                                        <label class="font-weight-bold text-secondary" for="name">Nombres y
                                            Apellidos</label>
                                        <input id="name" type="text" class="form-control" name="name"
                                            placeholder="Eliseo Canaviri" required autofocus>
                                        <div class="invalid-feedback">
                                            ¿Cómo te llamas?
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-bold text-secondary" for="email">Dirección de Correo
                                            Electrónico</label>
                                        <input id="email" type="email" class="form-control" name="email"
                                            placeholder="admin123@gmail.com" required>
                                        <div class="invalid-feedback">
                                            Su correo electrónico no es válido
                                        </div>
                                    </div>
                                    <!-- sdfsfsfsfs -->
                                    <div class="form-row">
                                        <div class="col">
                                            <label class="font-weight-bold text-secondary" for="name">Usuario</label>
                                            <input id="usuario" type="text" class="form-control"
                                                placeholder="Ingrese Usuario" required autofocus>
                                            <div class="invalid-feedback">
                                                Se requiere Usuario
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="font-weight-bold text-secondary"
                                                for="password">Contraseña</label>
                                            <input id="password" type="password" class="form-control"
                                                placeholder="Ingrese Pass" required data-eye>

                                            <div class="invalid-feedback">
                                                Se requiere contraseña
                                            </div>
                                        </div>
                                    </div>

                                    <!-- asfdsafsdfsfsd -->

                                    <div class="form-group mb-4">

                                    </div>

                                    <div class="form-group m-0 text-center">
                                        <button  class="btn-cni ">
                                            Registrarse
                                        </button>
                                    </div>
                                    <div class="mt-4 text-center">
                                        ¿Ya tienes una cuenta? <a href="/Views/login.html">Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
           <!-- alerta 2 -->
	
    <script src="/Assets/js/my-login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.8.0/dist/sweetalert2.all.min.js"></script>

    <script src="/Assets/js/registro.js"></script>

 
</body>

</html>